{% extends 'layouts/base.html' %}

{% block title %} Mochamad Nahrul {% endblock %}

{% block content %}
<!-- Jumbotron Section Begin -->
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-white text-center">
        <img class="rounded-circle img-thumbnail mb-3" src="../static/img/avatar.png" alt="male avatar" width="200">
        <h2 class="fw-bold fs-4">Mochamad Nahrul</h2>
        <p class="fw-normal fs-5">Web Developer</p>
        <ul class="list-inline mt-4">
          <li class="list-inline-item me-3">
            <a href="https://github.com/mochnahrul" target="_blank" class="text-decoration-none text-white">
              <i class="fa-brands fa-github fs-4"></i>
            </a>
          </li>
          <li class="list-inline-item me-3">
            <a href="https://linkedin.com" target="_blank" class="text-decoration-none text-white">
              <i class="fa-brands fa-linkedin fs-4"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://instagram.com" target="_blank" class="text-decoration-none text-white">
              <i class="fa-brands fa-instagram fs-4"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- Jumbotron End -->

<!-- About Section Begin -->
<div class="about">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h3 class="fw-bold fs-5 mb-3">About Me</h3>
        <p class="mb-0">Hello, my name is Mochamad Nahrul, I'm from Indonesia, to be precise in Sukabumi, West Java. Now I focus on college, and deepen web development. My goal now is to master Frontend and Backend and become a Fullstack Developer. So that I can build a solution to an existing problem easily. Even though it is not easy and it takes a long time, I believe I can achieve it if I practice and learn continuously. I hope, I want to build a start-up company to advance the technology industry in my country, Indonesia, and be an inspiration to others to become a good mentor to guide others to create a better future.</p>
      </div>
    </div>
  </div>
</div>
<!-- About End -->
{% endblock %}